.bg {
    position: fixed;
    top: -25%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-color: #000000;
    z-index: -100;
    overflow: hidden;
}

.bgImage {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    min-width: 55%;
    min-height: 55%;
    -webkit-filter: blur(35px);
    filter: blur(35px);
}

.content {
    margin: 0 auto;
    max-width: 500px;
    padding: 80px 20px;
}

.cover {
    width: 100%;
}

.content ul {
    text-align: center;
    padding: 0;
    list-style: none;
}

.content ul {
    background-color: #FFEAFF;
    margin: 0 auto;
}

.content li {
    padding: 20px 0;
}

.content li:hover {
    background-color: #FFD3FF;
}

.logo {
    height: 44px;
}